html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', 'Segoe UI',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
