@media (prefers-color-scheme: dark) {
  :root {
    --box-background-color: #18222d;
    --box-background-alt-color: #393f4e;
    --box-background-hover-color: #001d25;
    --box-foreground-color: #d1d5d9;
    --box-border-color: #22303f;
    --box-border-focus-color: #3e5874;
    --menu-shadow-color: rgba(200, 200, 255, 0.2);
    --geekhub-text-color: #d1d5d9;
  }
}
